<nav class="navbar navbar-expand-lg navbar-dark bg-primary top-fixed">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <img src="https://i.ibb.co/BPqgfJ9/d.png" border="0" style="height: 5rem;">
      </a>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <form class="form-inline my-2 my-lg-0">
          <i class="material-icons" style="font-size:3rem;color:white">search</i>
          <input class="form-control mr-sm-2" type="text" placeholder="Search" >
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search </button>
      </form>
      <li class="nav-item dropdown show my-2">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Categorias</a>
          <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
            <a class="dropdown-item" href="#">Bases Instaladas</a>
            <a class="dropdown-item" href="#">Clientes Nuevos</a>
            <a class="dropdown-item" href="#">Orgullo empresarial</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Todos</a>
          </div>
        </li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-lg p-3 mb-5 bg-white rounded">
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="nav navbar-nav mr-auto navbar-center">
            <li class="nav-item active">
              <a class="nav-link" href="#">Noticias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cumpleaños</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Aniversarios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Actividades</a>
            </li>
          </ul>
    </div>
  </nav>
