<nav class="navbar navbar-expand-lg navbar-dark bg-primary top-fixed">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <img src="https://i.ibb.co/BPqgfJ9/d.png" border="0" style="height: 5rem;">
      </a>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <form class="form-inline my-2 my-lg-0">
          <i class="material-icons" style="font-size:3rem;color:white">search</i>
          <input class="form-control mr-sm-2" type="text" placeholder="Search" >
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search </button>
      </form>
      <li class="nav-item dropdown show my-2">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Categorias</a>
          <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
            <a class="dropdown-item" href="#">Bases Instaladas</a>
            <a class="dropdown-item" href="#">Clientes Nuevos</a>
            <a class="dropdown-item" href="#">Orgullo empresarial</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Todos</a>
          </div>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto" style="margin-top: 0.7rem;">
      <li class="nav-item dropdown show my-2" style="color: white; text-align: right; margin-right: 1rem;">
          <p class="text-right" style="margin-bottom: 0%;"><strong>Oscar Estrada <i class='fas fa-user-circle'  style='font-size:15px'></i></strong></p>
          <p class="text-right small" style="margin-bottom: 0%;">oestrada.3@gmail.com <i class='fas fa-envelope'  style='font-size:15px'></i></p>
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Perfil</a>
          <div class="dropdown-menu" x-placement="bottom-start">
            <a class="dropdown-item" href="#"><button type="button" class="btn btn-info">Actualizar Datos<a style="opacity: 0.0;">.</a><i class='fas fa-redo-alt' style='font-size:12px'></i></button></a>
            <a class="dropdown-item" href="#"><button type="button" class="btn btn-danger" style="margin-left: 5%;">Cerrar Sesión <i class='fas fa-door-open' style='font-size:12px'></i></button></a>
          </div>  
    </li>
    <img class="imgRedonda" src="https://i.ibb.co/X4cNGNw/IMG-20180505-165321.jpg" border="0">
    </ul>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-lg p-3 mb-5 bg-white rounded second">
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="nav navbar-nav mr-auto navbar-center">
            <li class="nav-item active">
              <a class="nav-link" href="#">Noticias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cumpleaños</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Aniversarios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Actividades</a>
            </li>
          </ul>
    </div>
  </nav>