<app-inicio></app-inicio>

<body id="page-top">
  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0" style="font-family: 'Pacifico', cursive;">Team</h1>
            <!-- Team -->
    <section class="fondo" id="team">
        <div class="container">
          <div class="row">
            <div>
              <div class="team-member oscar">
                <img class="rounded-circle" src="https://i.ibb.co/gt94L3m/Oscar.jpg" alt="">
                <h4>Oscar Estrada</h4>
                <p class="text-muted">Front end</p>
                <p class="text-muted espacio"><i class='fas fa-university'></i> Centro Educativo Técnico Laboral Kinal</p>
                <p class="text-muted espacio"><i class='fas fa-envelope'></i> oestrada.3@gmail.com</p>
                <p class="text-muted espacio"><i class='fas fa-phone'></i> tel: 4704-9768</p>
                <ul class="list-inline social-buttons">
                  <li class="list-inline-item">
                    <a href="#">
                        <i class='fab fa-google'></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                        <i class='fab fa-github'></i>   
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div>
              <div class="team-member jose">
                <img class="rounded-circle" src="https://i.ibb.co/q5mt3yY/Jose.jpg" alt="">
                <h4>José Salazar</h4>
                <p class="text-muted" >Back end</p>
                <p class="text-muted espacio"><i class='fas fa-university'></i> Centro Educativo Técnico Laboral Kinal</p>
                <p class="text-muted espacio"><i class='fas fa-envelope'></i> emanuel11102001@gmail.com</p>
                <p class="text-muted espacio"><i class='fas fa-phone'></i> tel: 5823-9807</p>
                <ul class="list-inline social-buttons">
                  <li class="list-inline-item">
                      <a href="#">
                          <i class='fab fa-google'></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                          <i class='fab fa-github'></i>   
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                          <i class="fab fa-facebook-f"></i>
                      </a>
                    </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <p class="large text-muted">Ante cualquier duda se puede contactar con cualquiera de nosotros. Estamos a disposición de todos e incluso pueden seguirnos en nuestras redes sociales para saber más de nosotros.</p>
            </div>
          </div>
        </div>
      </section>
      </div>
    </div>
  </header> 
</body>
<!-- Footer -->
<footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; DailyPlus 2018
    </div>
  </footer>